<p ng-init="show()"></p>

<div class="row ">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-primary">

      <div class="panel-heading">
        Lista de Proyectos
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr>
			      <td>{{project.id}}</td>
			      <td>{{project.name}}</td>
            <td>{{project.description}}</td>
			      <td>
			        <button class="btn btn-success btn-xs" ng-click="show(project.id)">Show</button>
			        <button class="btn btn-success btn-xs" ng-click="edit(project.id)">Edit</button>
			        <button class="btn btn-danger btn-xs" ng-click="destroy(project.id)">Eliminar</button>
			      </td>
			    </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>