<p></p>

<% if can? :destroy, User %>
  <p>Si puede</p>
<% end %>

<div class="row ">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-primary">

      <div class="panel-heading">
        Lista de Formularios
        <span class="pull-right"><%= link_to 'Nuevo Formulario', new_form_path, class: 'btn btn-success btn-xs' %></span>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @cont = 1 %>
          <% @forms.each do |form| %>
            <tr>
              <td><%= @cont %></td>
              <td><%= form.name %></td>
              <td><%= link_to 'VER', form %></td>
            </tr>
            <% @cont += 1 %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>